* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template: 1fr 3fr 1fr;

    height: 100vh;
    padding: 1rem;
}
body > * {
    border: 3px solid;
}
header, 
footer {
    grid-column: 1 / -1;
    padding: 1rem 2rem;
    text-transform: capitalize;
    text-align: center;
}